.navbar {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.jumbotron {
    margin-bottom: 0px;
}

.top-container {
    margin-top: 12px;
}

.backdrop-dark {
    background-color: #212529;
    color: #f8f9fa;
    padding-top: 18px;
    padding-bottom: 18px;
}

.backdrop-light {
    background-color: #e9ecef;
    color: #212529;
    padding-top: 18px;
    padding-bottom: 18px;
}

.title-text {
    font-size: 40px;
}

.text-text {
    font-size: 18px;
}

.top-container {
    margin-top 12px;
}

/* Index */

.logo-container img {
    width: 70%;
}

.logo-container {
    margin-bottom: 20px;
    min-height: 600px;
}

.home-page-intro {
    font-size: 18px;
    margin-left: 45px;
    margin-right: 45px;
    color: #ffffff
}

#home-page-jumbotron {
    margin-bottom: 12px;
    background-color: #26292E
}

/* Contact us */

.overall-map {
    margin-top: 22px;
}

.modal-label-text {
    color: #000000;
    font-weight: bold;

}

/* Motivational cards */

.card cite {
    color: white;
}

footer.blockquote-footer::before { /* Citing line as white */
    color: white;
}

/* General for all cards */

.card {
    max-width: 350px; /* Avoiding that if we only have one or two cards in a row, the cards will be wider than if we have three. */
}

.card-deck {
    margin-bottom: 10px;
}

/* Service */

.service-filtering {
    margin-bottom: 25px;
    margin-top: 25px;
}

.service-sidebar {
    margin-top: 20px;
}

@media only screen and (max-width: 573px) { /* Fixing a problem with the button group when the screen size is very small. */
    .btn-group .btn {
        font-size: 5px;
    }
}

/* Person */

.person-img {
    margin-top: 22px;
}